doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    if products.length 
        table.table
            thead
                th title
                th price
                th image
            tbody
                    
                for x in products
                    tr
                        td #{x.name}
                        td #{x.price}
                        td #{x.image}
    else 
        p no hay productos cargados
