<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (products.length) { %>
        <table>
            <thead>
                <th>title</th>
                <th>price</th>
                <th>image</th>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td> <img width="250px" height="250px" src="../../img/<%= product.image %>" alt=""> </td> 
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay productos cargados</p>
    <% } %>
    <br> <br>
    <form>
        <a href="http://localhost:8080/api/hbs">
        <input type="button" value="Vista hsb">
        </a>
    </form>
</body>
</html>