<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        {{#if products.length}}

        <table >
        <thead>
        <tr>
            <th>title</th>
            <th>price</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {{#each products }}
        <tr>
            <td>{{name}}</td>
            <td>$ {{price}}</td>
            <td>
                
                <img src='../../img/{{image}}' width="150px" height="150px" alt="...">
            </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
        {{else}}

        <p> no hay productos cargados</p>
        {{/if}}

</body>
</html>