<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hola estoy hbs
    {{#if products.lenght}}
    <table>
        <thead>
            <th>title</th>
            <th>price</th>
            <th>image</th>
        </thead>
        <tbody>
            {{#each products}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                    </tr>
                {{/each}}
                {{else }}
                <p>No hay productos cargados</p>

            {{/if}}
        </tbody>
    </table>

</body>
</html>